<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Calendar</title>
    <link rel="stylesheet" href="../static/css/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
          rel="stylesheet"/>
{#    <script src="../static/js/srcipt.js"></script>#}
</head>
<body>



        <table class="" style="">
            <thead>
            <tr>
                <th class="tg-0pky" style="background-color: #1ab7ea">Hour</th>
                <th class="tg-kwiq" colspan="4" style="text-align: center">
                    {{ today }}
                </th>
            </tr>
            </thead>
            <tbody>
            {% for hour in hour_slots %}
                <tr>
                    {% for slot in hour %}
                        {% if forloop.first %} <td>{{ slot }}</td>
                        {% else %}
                    <td>{{ slot|yesno:' Not Available, Availalable' }}</td>
                        {% endif %}

                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>


</body>
</html>




