{% extends 'base.html' %}{% load crispy_forms_filters %}

{% block title %} Bookings {% endblock %}

{% block content %}
    <h1>My Bookings</h1>
    <div class="h-100 row align-items-center">
        {% for booking in bookings %}
            <div class="container">
                <ul>
                    <li>Reservation for user{{ booking.user }}
                    <li>Day: {{ booking.day }}
                    <li>Hour: {{ booking.hour }} : {{ booking.start_slot }}
                    <li>Duration: {{ booking.duration }} slots
                    {% if booking.instructor %}
                        <li> Instructor required
                    {% else %}

                    {% endif %}
                     {% if booking.gear %}
                       <li>Wakeboarding gear required
                    {% else %}

                    {% endif %}
                        <a class='btn btn-secondary' href="{% url 'sys-reservation-update' booking.id %}">
                            Edit
                        </a>
                        <a class='btn btn-secondary' href="{% url 'sys-reservation-delete' booking.id %}">Delete</a>
                    </li>
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}